@import domains.BoardModel

@(message: List[BoardModel])(count: Int)(page: Int)

<!DOCTYPE html>
<html>
<head lang="kr">
    <meta charset="UTF-8">
    <title></title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script type="text/javascript">
        $(window).ready(function() {
            $("[id^=row_]" ).hover(
            function(){
                $(this).attr("style", "background-color: #eaeaea;");
            },
            function(){
                $(this).attr("style", "background-color: #ffffff;");
            })
        });

        $.detailView = function(no) {
            location.href = "/detailView?no=" + no;
        }

    </script>
</head>
<body>
    <div></div>

    <div>

        <div style="font-size: 9pt;">
            <table border="0" cellpadding="3px" cellspacing="0px" width="100%" >
                <tr>
                    <td style="border-bottom: #000000 1px solid; text-align: center;">
                        번호
                    </td>
                    <td style="border-bottom: #000000 1px solid; text-align: center;">
                        작성자
                    </td>
                    <td style="border-bottom: #000000 1px solid; text-align: center;">
                        제목
                    </td>
                    <td style="border-bottom: #000000 1px solid; text-align: center;">
                        등록일
                    </td>
                </tr>
                @for(board <- message) {
                    <tr id="row_@board.no">
                        <td style="border-bottom: #000000 1px solid; text-align: center;">
                            @board.no <br>
                        </td>
                        <td style="border-bottom: #000000 1px solid; text-align: center;">
                            @board.writer
                        </td>
                        <td style="border-bottom: #000000 1px solid;">
                            <div style="cursor: pointer;" onclick="$.detailView(@board.no)">
                                @board.title
                            </div>
                        </td>
                        <td style="border-bottom: #000000 1px solid; text-align: center;">
                            @board.regDate
                        </td>

                    </tr>
                }
            </table>
            <div style="margin-top: 8px;">

                <div style="float: left;">
                @if(count%10 == 0) {
                    @for(i <- 1 to count/10) {
                        @if(i == page) {
                            <b>@i</b>
                        } else {
                            <a href="/main?page=@i">@i</a>
                        }
                    }
                } else {
                    @for(i <- 1 to count/10 + 1) {
                        @if(i == page) {
                            <b>@i</b>
                        } else {
                            <a href="/main?page=@i">@i</a>
                        }
                    }
                }
                </div>
                <div style="float: right; font-size: 9pt;">
                    <a href="/write">글쓰기..</a>
                </div>
            </div>

        </div>


    </div>
</body>
</html>